/*variables*/
:root {
    --white: #fff;
    --main: #eaedf0;
    --accent: #0041ff;
    --accent-2: #ebedf0;
  }
  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.calendar-container {
    padding: 1rem;
    background: var(--main);
    border-radius: 1rem;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
}

.btn {
    padding: 0 16px;
    background: var(--accent);
    color: var(--white);
    border: none;
    border-radius: 0.5rem;
}

.dates, .week{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1rem;
    margin: auto;
    justify-content: space-between;
}

.week div,
.dates div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3em;
  border-radius: 100%;
}

.dates div:hover {
    background: var(--accent);
    color: var(--white);
    cursor: pointer;
    transition: ease;
    transition-duration: 500ms;
  }
  .week div {
    font-weight: 400;
 }

  .inactive{
    opacity: 0.5;
  }